<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="serviceUrl" value="https://api.dropboxapi.com/2"/>
		<add key="contentServiceUrl" value="https://content.dropboxapi.com/2"/>
		<add key="token" value="Bearer TOKEN "/>
		<add key="defaultFilePath" value=""/>
	</appSettings>
</configuration>
