<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="serviceUrl" value="https://api.dropboxapi.com/2"/>
		<add key="contentServiceUrl" value="https://content.dropboxapi.com/2"/>
		<add key="token" value="Bearer sl.BU_Y7sN9D1K1QaFP8e9tYOQfHzKV8_Q9lq1h2Hijgi5iVRkGJhqS_xonQVjCCX7-xpzchg6gb1JQXf7qkyLem7QQx8uVAMz8LHQKHlpuvStHmSheLBWgzCKaNepniPYCIiOQ76foXCZZ"/>
		<add key="defaultFilePath" value=""/>
	</appSettings>
</configuration>
